<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" fill="clear" slot="icon-only" href="" router-direction="back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Collections</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="toggleManage()">
        {{managingMode ? 'SET' : 'MANAGE'}}
      </ion-button>
      <ion-button href="/collections/new" class="new-collection" fill="clear" color="primary">
        New
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="collections-list" *ngIf="collections.length; else no_collections">
    <ion-item class="collection" [detail]="this.managingMode" button (click)="onItemClick(collection.id)"
              *ngFor="let collection of collections">
      <div class="collection-box" [ngClass]="{'collection-active':collection.active}">
        <ion-img [src]="getEmojiRoute(collection.language.icon)" class="collection-icon"></ion-img>
        <div class="language-prefix">{{collection.language.prefix}}</div>
        <div class="collection-name">{{collection.language.name}}</div>
      </div>
    </ion-item>
  </ion-list>
  <ng-template #no_collections>
    <p class="no-collections-message"> Add a new collection to start learning right now!</p>
  </ng-template>
</ion-content>
