.categories-box {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 16px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: center;
  grid-template-areas:
    "dropdown manage-categories"
    "categories-chips .";
}

.dropdown {
  grid-area: dropdown;
}

.categories-chips {
  grid-area: categories-chips;
  padding-inline: 1rem;
}

.manage-categories {
  grid-area: manage-categories;
}

.low-divider {
  min-height: 10px;
}
