<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list class="menu-list main-options">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink='/home' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink='/word-of-the-day' lines="none" detail="false"
                      routerLinkActive="selected">
              <ion-icon slot="start" name="bulb-outline"></ion-icon>
              <ion-label>Word of the Day</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="tags-list">
          <ion-list-header>Tags</ion-list-header>
          <ion-item *ngFor="let tag of tags" lines="none">
            <ion-icon slot="start" name="bookmark"></ion-icon>
            <ion-label>{{tag}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list class="menu-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink='/settings' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
