<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/collections" router-direction="back" fill="clear" color="primary">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Prefix</ion-label>
      <ion-input formControlName="prefix" type="text" required autocapitalize="characters" maxlength="2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Icon</ion-label>
      <ion-input class="emoji-input" formControlName="icon" type="text" required value="🇪🇸"></ion-input>
      <ion-button class="emoji-button" fill="clear" (click)="toggleModal()">
        <ion-img [src]="this.selectedEmoji"></ion-img>
      </ion-button>
    </ion-item>
    <ion-button class="submit-button" type="submit" expand="block">Submit</ion-button>
  </form>
  <app-emoji-picker (newEmojiEvent)="selectEmoji($event)" *ngIf="modalStatus"></app-emoji-picker>
</ion-content>
