<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/collections" router-direction="back" fill="clear" color="primary">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>New collection</ion-title>
    <!--    <ion-buttons slot="end">-->
    <!--      <ion-button (click)="saveCollection()" class="save-collection" fill="clear" color="primary" slot="icon-only">-->
    <!--        <ion-icon name="save-outline"></ion-icon>-->
    <!--      </ion-button>-->
    <!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Prefix</ion-label>
      <ion-input formControlName="prefix" type="text" required autocapitalize="characters" maxlength="2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Icon</ion-label>
      <ion-input formControlName="icon" type="text" required></ion-input>
    </ion-item>
    <ion-button class="submit-button" type="submit" expand="block">Submit</ion-button>
  </form>
</ion-content>
