ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.header-logo {
  width: 150px;
  margin: auto;
}

.header-language {
  width: 32px;
}

.searchbar-row {
  display: flex;
  align-items: center;

  .book-button > ion-icon {
    font-size: 26px;
  }
}

.searchbar-container {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0 0;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
}

.terms-searchbar {
  grid-area: 1 / 1 / 2 / 2;
}

.book-button {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;

  ion-button {
    padding-inline-end: 8px;
    padding-inline-start: 8px;

    ion-icon {
      font-size: 26px;
    }
  }
}

.searchbar-options {
  justify-self: stretch;
  justify-items: center;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.details-toggle {
  display: inline-flex;
  align-items: center;

  ion-item::part(native) {
    background: unset;
  }
}

.add-term {
  ion-icon {
    color: white;
  }
}

.terms-list {
  margin-left: 1rem;
  margin-right: 1rem;

  .term {
    border: 1px solid #858585;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &::part(native) {
      background-color: #fafff8;
      padding: 8px;
    }

    .item-box {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(4, auto);
      gap: 8px 8px;
      grid-template-areas:
    "language-prefix term-name"
    "translated-icon translated-term"
    "secondary-term-label term-note"
    "categories categories";
      align-items: baseline;
      justify-items: start;
      color: #313131;

      .language-prefix {
        grid-area: language-prefix;
        font-family: "Lemon Milk", sans-serif;
        font-size: 14px;
      }

      .term-title {
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 20px;
      }

      .term-label {
        color: #b3b3b3;
      }

      .term-name {
        grid-area: term-name;
      }

      .translated-icon {
        grid-area: translated-icon;
        display: flex;
        align-self: center;

        ion-icon {
          font-size: 20px;
        }
      }

      .translated-term {
        grid-area: translated-term;
      }

      .secondary-term-label {
        grid-area: secondary-term-label;
        font-family: Calibri, monospace;
      }

      .term-note {
        grid-area: term-note;
      }

      .categories {
        grid-area: categories;

        ion-chip {
          opacity: unset;
        }
      }
    }
  }
}

.no-terms-message {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
