<app-header></app-header>

<ion-content>

  <div class="searchbar-container">
    <div class="terms-searchbar">
      <ion-searchbar [(ngModel)]="searchValue" [placeholder]="'home.searchbar-placeholder'|translate" animated="true"
                     enterkeyhint="search"
                     inputmode="text" type="search" (ionInput)="handleSearchbar($event)"></ion-searchbar>
    </div>
    <div class="book-button">
      <ion-button fill="clear" (click)="toggleTag()">
        <ion-icon [name]="isTag?'bookmark':'bookmark-outline'"></ion-icon>
      </ion-button>
    </div>
    <div class="searchbar-options">
      <div class="sort-button">
        <ion-button id="sorting-trigger" fill="clear" size="small">
          <ion-icon src="assets/icons/view/sort-solid.svg"></ion-icon>
        </ion-button>
      </div>
      <ion-popover trigger="sorting-trigger" dismissOnSelect="true" arrow="false">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-list-header>
                <ion-label [translate]="'home.sort.label'"></ion-label>
              </ion-list-header>
              <ion-item *ngFor="let sorting of sortingOptions;let i=index" button="true" detail="false"
                        (click)="sort(i+1)">
                {{sorting}}
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

      <div class="filter-button">
        <ion-button id="filter-trigger" fill="clear" size="small">
          <ion-icon [name]="isFiltering?'funnel':'funnel-outline'"></ion-icon>
        </ion-button>
      </div>

      <ion-popover trigger="filter-trigger" arrow="true" side="left">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item button="true" detail="true" (click)="presentAlertCheckbox(0)">
                <ion-label [translate]="'data.category.gcs'"></ion-label>
              </ion-item>
              <ion-item button="true" detail="true" (click)="presentAlertCheckbox(1)">
                <ion-label [translate]="'data.category.tcs'"></ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

      <div class="details-toggle">
        <ion-item lines="none">
          <ion-label [translate]="'home.details-label'"></ion-label>
          <ion-toggle [(ngModel)]="simpleView" name="toggleDetails"></ion-toggle>
        </ion-item>
      </div>
    </div>
  </div>

  <ion-list class="terms-list" *ngIf="terms.length; else no_terms">
    <ion-item color="light2" class="term" lines="none" button="true" *ngFor="let term of terms"
              (click)="navigateToTerm(term.getId())">
      <div class="item-box">
        <div class="language-prefix term-label">{{collectionPrefix}}</div>
        <div class="term-name term-title">{{term.getOriginalTerm()}}</div>
        <div class="translated-icon">
          <ion-icon name="arrow-forward-outline" class="term-label"></ion-icon>
        </div>
        <div class="translated-term term-title">{{term.getTranslatedTerm()}}</div>
        <div class="term-label secondary-term-label" *ngIf="simpleView && term.getNotes()">Note:</div>
        <div class="term-note" *ngIf="simpleView && term.getNotes()">{{term.getNotes()}}</div>
        <div class="categories"
             *ngIf="simpleView && (term.getGramaticalCategories().length||term.getThematicCategories().length)">
          <ion-chip class="gramatical-category primary" color="primary" disabled="true"
                    *ngFor="let gc of term.getGramaticalCategories()">
            <ion-label>{{gc.getName()}}</ion-label>
          </ion-chip>
          <ion-chip class="thematic-category secondary" color="darkgreen" outline="true" disabled="true"
                    *ngFor="let tc of term.getThematicCategories()">
            <ion-label>{{tc.getName()}}</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ng-template #no_terms>
    <p class="no-terms-message" [translate]="'home.no-term-msg'"></p>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="add-term floating-button-be">
    <ion-fab-button (click)="navigateToTerm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
