/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~swiper/swiper-bundle.css";

/* Colors */
.ion-color-primary-blue {
  --ion-color-base: var(--ion-color-primary-blue);
  --ion-color-base-rgb: var(--ion-color-primary-blue-rgb);
  --ion-color-contrast: var(--ion-color-primary-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-blue-shade);
  --ion-color-tint: var(--ion-color-primary-blue-tint);
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: "Lemon Milk";
  src: url(assets/fonts/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: "Lemon Milk Light";
  src: url(assets/fonts/LEMONMILK-Light.otf);
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(assets/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(assets/fonts/CaviarDreams_Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(assets/fonts/CaviarDreams_Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Louis George Cafe";
  src: url(assets/fonts/Louis_George_Cafe.ttf);
}


